@font-face {
  font-family: "odudo";
  src: url("fonts/Mono.eot");
  src: url("fonts/Mono.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mono.woff2") format("woff2"),
    url("fonts/Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #fff;
  margin: 0;
  font-size: 16px;
  overflow: hidden;
  height: var(--tg-viewport-height);
  background-color: var(--tg-theme-bg-color);
}

.tdesktop {
  font-family: "Open Sans";
}

.terminal {
  height: var(--tg-viewport-height);
  overflow: hidden;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  position: fixed;
  left: 0;
  transition: 0.3s;
  display: none;
}

.addNewServer {
  display: none;
}

.historyScroll {
  height: 100%;
  overflow: hidden scroll;
  margin: 0 0.8rem;
  background-color: var(--tg-theme-secondary-bg-color);
  border-radius: 10px;
}

.ios .historyScroll {
  border-radius: 25px;
}

.history {
  color: #fff;
  font-family: odudo, monospace;
  display: flex;
  padding: 0.5rem 0.2rem;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  min-height: calc(100% - 1rem);
}

.history div {
  width: 100%;
  font-size: 0.8rem;
  word-break: break-all;
  margin: 0.2rem 0;
  filter: invert(1);
}

.dark .history div {
  width: 100%;
  font-size: 0.8rem;
  word-break: break-all;
  margin: 0.2rem 0;
  filter: invert(0);
}

.inputBg {
  width: 100%;
  height: 2.5rem;
  background-color: var(--tg-theme-bg-color);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.terminalInput {
  width: 100%;
  height: 100%;
  outline: 0;
  margin: 0;
  border: 0;
  font-family: odudo, monospace;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  font-size: 0.9rem;
  padding: 0 1rem;
  transition: 0.1s;
}

.terminalInput::placeholder {
  color: var(--tg-theme-text-color);
  opacity: 0.5;
}

.terminalButton,
.actionButton {
  width: 2.5rem;
  height: 2.5rem;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--tg-theme-button-color);
  border: 0;
  outline: 0;
  background: none;
  opacity: 0;
  cursor: pointer;
  transition: 0.1s;
  display: flex;
  align-items: center;
}

.actionButton {
  opacity: 1;
}

.terminalButton path,
.actionButton path {
  fill: var(--tg-theme-button-color);
}

.actionButton svg {
  width: 1.7rem
}

.android .terminal {
  background-color: var(--tg-theme-bg-color);
}

.android .inputBg {
  height: 3.5rem;
}

.android .terminalInput {
  font-size: 1rem;
}

.macos .terminalButton {
  width: 0;
  height: 0;
  transition: 0.3s cubic-bezier(.47, 1.64, .41, .8);
}

.tdesktop .terminalButton {
  width: 0;
}

.tdesktop .terminalButton svg {
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.2s;
}

.android .terminalButton svg {
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.2s;
}

.tdesktop .terminalButton {
  margin: 0 0.3rem;
  padding: 0;
}

.tdesktop .inputBg {
  height: 3rem;
  border: 1px solid var(--tg-theme-bg-color);
  border-radius: 10px;
  border-width: 0 0 1px 0px;
  overflow: hidden;
}

.ios .inputBg {
  height: 3.5rem;
}

.ios .terminalButton svg {
  width: 1rem;
  height: 1rem;
}

.ios .terminalInput {
  margin: 0.5rem 0.8rem 0.5rem;
  height: 2.2rem;
  padding: 0 1rem;
  width: 100%;
  border-width: 1px 0;
  background-color: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
  border-radius: 100px;
  transition: 0.2s;
}

.ios .terminalButton {
  background-color: var(--tg-theme-button-color);
  height: 2.2rem;
  width: 0;
  padding: 0;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.ios .terminalButton path {
  fill: #fff;
}



.not-supported {
  display: none;
}

.unknown .not-supported {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex !important;
  justify-content: center;
  align-items: center;
}


.addNewServer {
  position: relative;
  width: 60%;
  display: none;
  justify-content: center;
  margin: auto;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  font-family: odudo;
}

.addNewServer div {
  position: relative;
  width: 100%;
  margin: 1rem 0;
  height: 3rem;
  display: flex;
  align-items: baseline;
}

.addNewServer input {
  display: flex;
  margin: auto;
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  padding: 0 1rem;
  border: 0;
  outline: 0;
  background-color: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
}


.addNewServer .label {
  position: absolute;
  pointer-events: none;
  line-height: 0;
  top: 1.5rem;
  left: 0.5rem;
  transition: 0.2s ease;
  color: var(--tg-theme-text-color);
  opacity: 0.5;
}

.addNewServer input {
  font-family: odudo;
}

.addNewServer input:focus+.label,
.addNewServer input:not(:placeholder-shown)+.label {
  top: -0.1rem;
  font-size: 0.8rem;
}

.addNewServer input:focus+.label {
  color: var(--tg-theme-button-color);
  opacity: 1;
}

.addNewServer .radioItem {
  height: 1rem;
}

.addNewServer input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--tg-theme-secondary-bg-color);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
  padding: 0;
  float: left;
  margin: 0 0.5rem 0 0;
}

.addNewServer input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--tg-theme-button-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

.addNewServer input[type="radio"]:checked::before {
  transform: scale(1);
}

.addNewServer input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid var(--tg-theme-button-color);
  outline-offset: max(2px, 0.15em);
}

.addNewServer input[type=file] {
  padding: 0;
}

.addNewServer input[type=file]::file-selector-button {
  margin: 0 20px 0 0;
  height: 2rem;
  border: none;
  background: var(--tg-theme-button-color);
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  transition: filter .2s ease-in-out;
}

.addNewServer input[type=file]::file-selector-button:hover {
  filter: brightness(1.1);
}

.addNewServer .fileLabel {
  top: -0.1rem;
  font-size: 0.8rem;
}